@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

*{
    margin: 0;
    font-family: Ubuntu;
    font-size: 12px;
}

:root{
    --font: Ubuntu;
    --default-font-size: 1rem;
    --default-small-header: 1.5rem;
    --default-big-header: 2rem;
    --bluebg: lightblue;
    --whitebg: white;
    --orangebg: orange;
    --blue-sidebar-bg: #2b71fc;
    --feed-bg: #e3e9ff;
    --project-bg: #edf4ff;
    --basic-font-color: white;
    --secondary-font-color: black;
    --main-image-height: 100px;
    --main-image-width: 100px;
    --main-image-border-radius: 50%;
    --sec-image-height: 50px;
    --sec-image-width: 50px;
    --sec-image-border-radius:50%;
}

.mainBody{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr 3fr;
}

.sidebar{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    grid-row: 1/4;
    color: var(--basic-font-color);
    height: 100%;
    background-color: var(--blue-sidebar-bg);
}

.sidebar p, .sidebar h2{
    font-size: var(--default-big-header);
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
}

.topPart{
    grid-column: 2/4;
    margin: 10px;
}

.Header{
    display: flex;
    flex-direction: row;
    gap: 10px;
    overflow:auto;
    align-items: center;
    padding-bottom: 10px;
}

.Header input{
    flex-grow: 1;
    border-radius: 20px;
    border: none;    
    height: 2.5rem;
    background-color: #e8e8e8;
}

.Header p {
    font-size: var(--default-small-header);
}

.greetingHeader {               
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.greetingHeader p{
    font-size: var(--default-small-header);
}

.bottomHeader {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding-top: 20px;
}   

.bottomHeader button{
    height: fit-content;
}

.bottomHeader img{
    width: var(--main-image-width);
    height: var(--main-image-height);
    border-radius: var(--main-image-border-radius);
}   

.operationHeader{
    display: flex;
    flex-direction: row-reverse;
    gap: 30px;
    padding: 5px 20px 5px 0px;
}

.operationHeader button{
    padding: 10px 20px 10px 20px;
    border: 1px solid var(--blue-sidebar-bg);
    color: white;
    font-size: var(--default-small-header);
    font-family: Ubuntu;
    border-radius: 50px;
    background-color: var(--blue-sidebar-bg);
}

.Feed{
    grid-column: 2 / 4;
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: var(--feed-bg);
    padding-left: 20px;
    box-shadow: 0px -3px 5px #b8b8b8;
}

.Feed h2{
    font-size: var(--default-big-header);
    padding: 30px 0px 30px 0px;
    width: fit-content;
}

.alignFeed{
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.yourProjects{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.project{
    display: flex;
    flex-direction: column;
    gap: 7px;
    overflow: auto;
    justify-content: center;
    padding-left: 20px; 
    background-color: var(--whitebg);
    padding: 20px;
    border-radius: 10px;
    border-left: 5px solid orange;
}

.project h3{
    font-size: var(--default-big-header);
}

.project p{
    font-size: var(--default-small-header);
}

.project button{
    font-size: var(--default-small-header);
}

.bts{
    display: flex;
    gap: 20px;
    flex-direction: row-reverse;
    margin-top: 20px;
}

.bts button{
    border: none;
    background-color: white;
    font-size: var(--default-small-header);
}

.rightFeed{
    display: flex;
    flex-direction: column; 
    gap: 40px;
    width: 80%;
    margin: 0px 20px 0px 20px;
}

.listofAnnouncements{
    display: flex;
    flex-direction: column;
    gap: 25px;
    background-color: var(--whitebg);
    padding: 20px;
    border-radius: 10px;
}

.companyAn{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-bottom: 20px;
    border-bottom: 1px solid #8d8e8f;
}

.companyAn h4{
    font-size: var(--default-big-header);
}

.companyAn p{
    font-size: var(--default-small-header);
}

.Trending{
    background-color: var(--whitebg);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.trendingPerson{
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.trendingPerson p{
    font-size: var(--default-small-header);
}

.trendingPerson img{
    width: var(--sec-image-width);
    height: var(--sec-image-height);
    border-radius: var(--sec-image-border-radius);
}